html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-item-right-side{
    border: 1px solid lightblue;
    padding: 0px 20px;
    margin: 5px 5px;
    border-radius: 25px;
}

#nav-item-right-side-register {
    background: linear-gradient(45deg, #2BACF8, #07F7F8);
}

#navbar-brand-icon {
    background-image: url("../img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    padding: 25px;
}
