@{
    ViewData["Title"] = "Домашня сторінка";
}

<head>
    <link rel="stylesheet" href="~/css/home.css"/>
</head>
<div class="text-center">
        <h1 class="home-title">Анонімний пошук роботи на ToroJobs</h1>
        <h5 id="subtitle">Для</h5>
</div>
<script src="~/js/home.js"></script>

