@{
    ViewData["Title"] = "Домашня сторінка";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<div class="text-center">
    <h1 class="home-title">Анонімний пошук роботи на ToroJobs</h1>
    <h5 id="subtitle">Для</h5>
</div>
<div class="register-2">
    <button class="register-2-button">
        <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Відправитись на пошуки</a>
    </button>
</div>
<div class="under-slogan">
    <div class="description-home">
        <div class="description-home-text">Ви описуєте свій досвід, очікування від роботи та побажання по зарплаті, а компанії пропонують вакансії. Тільки ви вирішуєте, кому і коли відкрити контакти.</div>
    </div>
    <div class="row">
        <div class="column">
            <p class="column-caption">Чому ToroJobs?</p>
            <p class="column-text">ToroJobs дає можливість пасивного і анонімного пошуку - коли шукають вас, а не ви. Це відображає реалії ринку праці, де досвідчені фахівці в постійному дефіциті.</p>
        </div>
        <div class="column">
            <p class="column-caption">Скільки пропозицій я отримаю?</p>
            <p class="column-text">Дуже залежить від вашого рівня, зарплатних очікувань і міста. Щотижня через ToroJobs проходить понад 50 тис. пропозицій.</p>
        </div>
        <div class="column">
            <p class="column-caption">Мій роботодавець може знайти мене на ToroJobs?</p>
            <p class="column-text">Ні. Всі профілі анонімні. Коли роботодавець пропонує вакансію, ви можете відмовитися, не відкриваючи свої контакти.</p>
        </div>
    </div>
</div>
<div class="register-3">
    <p class="slogan-register-3">Наймайте на Джині</p>
    <p class="desc-register-3">Ви сплачуєте 30% від місячної зарплати кандидата, за фактом виходу на роботу. Якщо ви нікого не знайшли або кандидат не прийняв оффер, ви нічого не сплачуєте.</p>
    <button class="register-3-button">
        <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Розпочати пошук</a>
    </button>
</div>
<script src="~/js/home.js"></script>

