@{
    ViewData["Title"] = "Домашня сторінка";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<div class="text-center">
    <h1 class="home-title">Анонімний пошук роботи на ToroJobs</h1>
    <h5 id="subtitle">Для</h5>
</div>
<div class="register-2">
    <button class="register-2-button">
        <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Відправитись на пошуки</a>
    </button>
</div>
<script src="~/js/home.js"></script>

